.cproject
.project
.settings
gmon.out
*.o
moc*
unitTests/asyncUnitTesting
Makefile
Makefile.Debug
Makefile.Release
libSerialIO.so
libSerialIO.so.0
libSerialIO.so.0.0
libSerialIO.so.0.0.1
notes.txt
debug/
release/
unitTests/debug
unitTests/release
docs/InterractingWithFreeEMS.png
